*{
    box-sizing: border-box;
}
.container {
  background-color: #121212;
  width: 700px;
  color: #ffff;
  margin: auto;
  padding: 50px;
  border: 5px solid green;
  border-radius: 10px;
  
}

.rede-social h2{
    text-align: center;
}

.rede-social ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.rede-social li{
    margin-bottom: 12px;
}

.rede-social a{
    text-decoration: none;
}

.rede-social a:hover{
    color: red;
}