*{
    box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 180vh; /* altura do viewport*/
}
h1{
  margin: 50px;
  border: solid white 2px;
  padding: 5px;
}
.container {
  background-color: #121212;
  width: 700px;
  color: #ffff;
  margin: 80px;
  padding: 50px;
  border: 5px solid green;
  border-radius: 10px;
  position: static;
  
}
.rede-social h2{
  text-align: center;
}
.rede-social ul{
  padding: 0px;
  list-style: none;
  text-align: center;
}
.rede-social li{
  margin-bottom: 12px;
}
.rede-social a{
  text-decoration: none;
}
.rede-social a:hover{
  color: red;
}

/*
  > 1. Por padrão temos o static ou seja estático.
  > 2. Relative: o elemento é posicionado em relação a sua posição normal (top, right, bottom, left ).
*/